Training hasn't started yet!


<table>
<tr><td>WEEK</td>	<td>MON</td>	<td>TUE</td>	<td>WED</td>	<td>THU</td>	<td>FRI</td>	<td>SAT</td>	<td>SUN</td></tr>

<tr><td>1	<td>Rest</td>	<td>3 m run</td>	<td>3 m run</td>	<td>3 m run</td>	<td>Rest</td>	<td>6 m run</td>	<td>Cross</td></tr>

<tr><td>2	<td>Rest</td>	<td>3 m run</td>	<td>3 m run</td>	<td>3 m run</td>	<td>Rest</td>	<td>7 m run</td>	<td>Cross</td></tr>

<tr><td>3	<td>Rest</td>	<td>3 m run</td>	<td>4 m run</td>	<td>3 m run</td>	<td>Rest</td>	<td>5 m run</td>	<td>Cross</td></tr>

<tr><td>4	<td>Rest</td>	<td>3 m run</td>	<td>4 m run</td>	<td>3 m run</td>	<td>Rest</td>	<td>9 m run</td>	<td>Cross</td></tr>

<tr><td>5	<td>Rest</td>	<td>3 m run</td>	<td>5 m run</td>	<td>3 m run</td>	<td>Rest</td>	<td>10 m run</td>	<td>Cross</td></tr>

<tr><td>6	<td>Rest</td>	<td>3 m run</td>	<td>5 m run</td>	<td>3 m run</td>	<td>Rest</td>	<td>7 m run</td>	<td>Cross</td></tr>

<tr><td>7	<td>Rest</td>	<td>3 m run</td>	<td>6 m run</td>	<td>3 m run</td>	<td>Rest</td>	<td>12 m run</td>	<td>Cross</td></tr>

<tr><td>8	<td>Rest</td>	<td>3 m run</td>	<td>6 m run</td>	<td>3 m run</td>	<td>Rest</td>	<td>Rest</td>	<td>Half Marathon</td></tr>

<tr><td>9	<td>Rest</td>	<td>3 m run</td>	<td>7 m run</td>	<td>4 m run</td>	<td>Rest</td>	<td>10 m run</td>	<td>Cross</td></tr>

<tr><td>10	<td>Rest</td>	<td>3 m run</td>	<td>7 m run</td>	<td>4 m run</td>	<td>Rest</td>	<td>15 m run</td>	<td>Cross</td></tr>

<tr><td>11	<td>Rest</td>	<td>4 m run</td>	<td>8 m run</td>	<td>4 m run</td>	<td>Rest</td>	<td>16 m run</td>	<td>Cross</td></tr>

<tr><td>12	<td>Rest</td>	<td>4 m run</td>	<td>8 m run</td>	<td>5 m run</td>	<td>Rest</td>	<td>12 m run</td>	<td>Cross</td></tr>

<tr><td>13	<td>Rest</td>	<td>4 m run</td>	<td>9 m run</td>	<td>5 m run</td>	<td>Rest</td>	<td>18 m run</td>	<td>Cross</td></tr>

<tr><td>14	<td>Rest</td>	<td>5 m run</td>	<td>9 m run</td>	<td>5 m run</td>	<td>Rest</td>	<td>14 m run</td>	<td>Cross</td></tr>

<tr><td>15	<td>Rest</td>	<td>5 m run</td>	<td>10 m run</td>	<td>5 m run</td>	<td>Rest</td>	<td>20 m run</td>	<td>Cross</td></tr>

<tr><td>16	<td>Rest</td>	<td>5 m run</td>	<td>8 m run</td>	<td>4 m run</td>	<td>Rest</td>	<td>12 m run</td>	<td>Cross</td></tr>

<tr><td>17	<td>Rest</td>	<td>4 m run</td>	<td>6 m run</td>	<td>3 m run</td>	<td>Rest</td>	<td>8 m run</td>	<td>Cross</td></tr>

<tr><td>18	<td>Rest</td>	<td>3 m run</td>	<td>4 m run</td>	<td>2 m run</td>	<td>Rest</td>	<td>Rest</td>	<td>Marathon</td></tr>

</table>
