<h2>Welcome!</h2>

<p>Please either <a href=/account/register>register</a> or <a href=/account/login>log-in</a>.</p>
<div class="not_authorized_page">
<%= erb :register %>
</div>
<div class="not_authorized_page">
<%= erb :login %>
</div>
