<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Running M8</title>
    <script src="/vendors/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/vendors/chart.js/Chart.js"></script>
    <link href="/vendors/font-awesome-4.5.0"></script>
    <link href="/vendors/styles/main.css">
  </head>
  <body>
    <p>
      jwuahfijhiwufhawiuha
    </p>
    <%= yield %>
  </body>
</html>
