<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Running M8</title>
    <link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/main.css">
    <script type="text/javascript" src="./vendors/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="./vendors/chart.js/Chart.js"></script>
    <script type="text/javascript" src="./scripts/app.js"></script>
    <script type="text/javascript" src="./scripts/header_animation.js"></script>

  </head>
  <body>
    <header>
      <div id="header_title"<span id="app_name">Running M8</span></div>
      <div id="header_logo"><canvas id='canv'></canvas></div>
    </header>
    <section id="container_dynamic">
    <%= yield %>
    <div id="spacer"></div>
    </section>
    <footer>
      <span>Copyright © 2015 by Senate Orphans</span>
   </footer>
  </body>
</html>
