
<h1 class="tglr"><i class="fa fa-users"></i></h1>
<p>Runner Login</p>
<% if @message %>
<li><%= @message %></li>
<% end %>
<form action="/login" method="post" class="userForm" id="login">
  <input type="text" name="user_name" placeholder="Username">
  <input type="password" name="password" placeholder="Password">

  <button type="button" name="hideLogin" id="register_btn" class="accntBtns">Sign up</button>
  <!-- <button type="button" name="recoveryBtn" class="accntBtns">Recover Account</button> -->
  <button type="submit" value="Submit" class="submit_btn"><i class="fa fa-sign-in"></i></button>
</form>
