    <h1 class="tglr">Register</h1>
    <p>Get started below.</p>

    <% if @taken %>
    <p><li><%= @taken %></li></p>
    <% end %>

<form action="/register" method="post" class="userForm">
  <input type="text" name="user_name" placeholder="Username">
  <input type="email" name="user_email" placeholder="E-mail address">
  <input type="password" name="password" placeholder="Password">

  <button type="button" name="hideRegister" id="login_btn" class="accntBtns">Already have an account?</button>

  <input type="submit" value="Submit">
</form>
