    <h1 class="tglr"><i class="fa fa-user-plus"></i></h1>
    <p>Get started below.</p>

    <% if @taken %>
    <p><%= @taken %></p>
    <% end %>

<form action="/register" method="post" class="userForm">
  <input type="text" name="user_name" placeholder="Username" required>
  <input type="email" name="user_email" placeholder="E-mail address" required>
  <input type="password" name="password" placeholder="Password" id="password"required>
  <input type="password" name="password_confirm" placeholder="Password Confirm" id="password_confirm"required>
  <p id="pwdMessage"></p>


  <button type="button" name="hideRegister" id="login_btn" class="accntBtns">Already have an account?</button>

  <button type="submit" value="Submit" id="reg_sbm_btn"class="submit_btn"><i class="fa fa-sign-in"></i></button>
</form>
