<h2 id="set_up_h2"><i class="fa fa-calendar-plus-o"></i></h2>
<form action="/setting/set_up" method="post" class="userForm" id="set_up_form">
  <input type="hidden" name="account_id">
  <input type="text" name="marathon_name" placeholder="Marathon Name">
  <input type="date" name="marathon_date">
  <label for="novice">Novice
    <input type="radio" id="novice" name="skill_level" value="novice" class='form_radio_btns' checked></label>
  <label for="intermediate">Intermediate
    <input type="radio" id="intermediate"name="skill_level" value="intermediate" class='form_radio_btns'>
  </label>
  <button type="submit" value="Submit" class="submit_btn"><i class="fa fa-sign-in"></i></button>
</form>
