<h1>SET UP PAGE</h1>
id | account_id | marathon_name | marathon_date | skill_level
<a href="../tracker/dashboard">TEST</a>





<form action="/setting/set_up" method="post">
  <input type="hidden" name="account_id">

  <p><input type="text" name="marathon_name" placeholder="Marathon Name"></p>
  <p><input type="date" name="marathon_date"></p>
<p>
    <input type="radio" name="skill_level" value="1" checked> Novice
    <br>
    <input type="radio" name="skill_level" value="2"> Intermediate


  <p><input type="submit" value="Submit">

</form>


    </p>
