@import 'variables.scss';

html,body{
  background-color: white;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
  overflow: hidden;
  color: white;
  header{
    margin: 0;
    width: 100%;
    height: 10%;
    background-color: rgba(#8C8979, .5);
    font-size: 8vh;
    padding-left: 10%;
    text-align: left;
    border-bottom: 5px #8C8979 solid;
    box-sizing: inherit;
    -webkit-box-shadow: 0px 17px 6px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 17px 6px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 17px 6px -5px rgba(0,0,0,0.75);

    #header_title{
      display: block;
      width: 100%;
      top: -.5%;
      z-index: 0;
      position: absolute;
    }

    #header_logo{
      width: 100%;
      height: 100%;
      margin: 0 auto;
      overflow: hidden;
      opacity: 0;
      #canv{
      }
    }
  }
  #container_dynamic{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 90%;
    background: rgba(242, 242, 242, .9);
    text-align: center;
    overflow: auto;

    #spacer{
      width: 100%;
      height: 10%;
    }
    .submit_btn{
      transition: all .5s;
      display: block;
      margin: 0 auto;
      padding-right: 2%;
      padding: 3% 10%;
      border: 0;
      width: auto;
      background-color: transparent;
      color: #8c8979;
      font-size: 8vh;
      outline: none;
      &:hover{
        color: #404040;
      }
      &[contenteditable="true"]:focus, &[contenteditable="true"]:active {
        outline:none;
      }
    }

    p{
      margin-top: 1%;
      color: gray;
      font-size: 2vh;
    }

    h1{
      margin: 0;
      padding: 2% 10%;
      width: auto;
      font-size: 10vh;
      display: inline-flex;
      margin-top: 2%;
      margin-bottom: 1%;
      color: #404040;
    }
    h2{
      margin: 0;
      border-radius: 0 0 10% 10%;
      width: auto;
      font-size: 5vh;
      display: inline-flex;
      margin-bottom: 1%;
      color: #404040;
    }
    #index_register_section{
      display: none;
    }
    .userForm{
      display: block;
      width: 50%;
      height: 50%;
      margin: 0 auto;
      padding-top: 1%;

      input{
        display: block;
        margin: 0 auto;
        width: 50%;
        background: transparent;
        border: none;
        color: rgba(#e03838,.9);
        border-bottom: 1px solid #8C8979;
        border-radius: 1.5%;
        margin-bottom: 5%;
        font-size: 3vh;
        outline: none;
        text-align: left;
        padding-left: 2%;

      }

      .accntBtns{
        width: auto;
        padding: 2%;
        border: none;
        font-size: 2.5vh;
        background-color: transparent;
        outline: none;
      }
    }

    #login_info{
      width: 0%;
      height: 100%;
      background-color: rgba(#8c8979, 1);
      position: absolute;
      color: #f2f2f2;
      text-align: right;
      z-index: 2;
      color: rgba(#000, 0);
    }
    .runningTimeTbl{
      background-color: blue;
      padding: 2.5%;
      margin: 0 auto;

      .daysListing{
        margin: 0;
        background-color: red;
        list-style: none;
        width: 95%;

        li{

          display: inline-block;
          margin: 0 .5%;
          width: 12%;
          background-color: purple;
          font-size: 2vh;
        }
      }

      .daysListingInput{
        border-top: 5px purple solid;
        margin: 0;
        background-color: red;
        list-style: none;
        width: 95%;
        margin-top: 20px;
        li{
          display: inline-block;
          width: 12%;
          margin: 0 .5%;

          input{
            width: 50%;
          }
        }
      }

      .daysListingVals{
        border-top: 5px purple solid;
        margin: 0;
        background-color: red;
        list-style: none;
        width: 95%;
        margin-top: 20px;

        .listingVals{
          display: inline-block;
          width: 12%;
          margin: 0 .5%;

        }
      }
    }

  }
  footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5%;
    border-top: rgba(#8c8979, .7) solid 1vh;
    background-color: rgba(#8C8979, .5);
    text-align: center;
    padding-top: 1%;

    span{
      padding: 0;
      margin: 0;
      bottom: 2%;
      width: 20%;
      left: 40%;
      right: 40%;
      font-size: 2.25vh;
      color: rgba(#f2f2f2, 1);

    }
  }
}
