html, body {
  background-color: white;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
  overflow: hidden;
  color: white; }
  html header, body header {
    margin: 0;
    width: 100%;
    height: 10%;
    background-color: rgba(140, 137, 121, 0.5);
    font-size: 8vh;
    padding-left: 10%;
    text-align: left;
    border-bottom: 5px #8C8979 solid;
    box-sizing: inherit;
    -webkit-box-shadow: 0px 17px 6px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 17px 6px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 17px 6px -5px rgba(0, 0, 0, 0.75); }
    html header #header_title, body header #header_title {
      display: block;
      width: 100%;
      top: -.5%;
      z-index: 0;
      position: absolute; }
    html header #header_logo, body header #header_logo {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      overflow: hidden;
      opacity: 0; }
  html #container_dynamic, body #container_dynamic {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 90%;
    background: rgba(242, 242, 242, 0.9);
    text-align: center;
    overflow: auto; }
    html #container_dynamic #spacer, body #container_dynamic #spacer {
      width: 100%;
      height: 10%; }
    html #container_dynamic .submit_btn, body #container_dynamic .submit_btn {
      transition: all .5s;
      display: block;
      margin: 0 auto;
      padding-right: 2%;
      padding: 3% 10%;
      border: 0;
      width: auto;
      background-color: transparent;
      color: #8c8979;
      font-size: 8vh;
      outline: none; }
      html #container_dynamic .submit_btn:hover, body #container_dynamic .submit_btn:hover {
        color: #404040; }
      html #container_dynamic .submit_btn[contenteditable="true"]:focus, html #container_dynamic .submit_btn[contenteditable="true"]:active, body #container_dynamic .submit_btn[contenteditable="true"]:focus, body #container_dynamic .submit_btn[contenteditable="true"]:active {
        outline: none; }
    html #container_dynamic p, body #container_dynamic p {
      margin-top: 1%;
      color: gray;
      font-size: 2vh; }
    html #container_dynamic h1, body #container_dynamic h1 {
      margin: 0;
      padding: 2% 10%;
      width: auto;
      font-size: 10vh;
      display: inline-flex;
      margin-top: 2%;
      margin-bottom: 1%;
      color: #404040; }
    html #container_dynamic h2, body #container_dynamic h2 {
      margin: 0;
      border-radius: 0 0 10% 10%;
      width: auto;
      font-size: 5vh;
      display: inline-flex;
      margin-bottom: 1%;
      color: #404040; }
    html #container_dynamic #index_register_section, body #container_dynamic #index_register_section {
      display: none; }
    html #container_dynamic .userForm, body #container_dynamic .userForm {
      display: block;
      width: 50%;
      height: 50%;
      margin: 0 auto;
      padding-top: 1%; }
      html #container_dynamic .userForm input, body #container_dynamic .userForm input {
        display: block;
        margin: 0 auto;
        width: 50%;
        background: transparent;
        border: none;
        color: rgba(224, 56, 56, 0.9);
        border-bottom: 1px solid #8C8979;
        border-radius: 1.5%;
        margin-bottom: 5%;
        font-size: 3vh;
        outline: none;
        text-align: left;
        padding-left: 2%; }
      html #container_dynamic .userForm .accntBtns, body #container_dynamic .userForm .accntBtns {
        width: auto;
        padding: 2%;
        border: none;
        font-size: 2.5vh;
        background-color: transparent;
        outline: none; }
    html #container_dynamic #login_info, body #container_dynamic #login_info {
      width: 0%;
      height: 100%;
      background-color: #8c8979;
      position: absolute;
      color: #f2f2f2;
      text-align: right;
      z-index: 2;
      color: transparent; }
    html #container_dynamic .runningTimeTbl, body #container_dynamic .runningTimeTbl {
      background-color: blue;
      padding: 2.5%;
      margin: 0 auto; }
      html #container_dynamic .runningTimeTbl .daysListing, body #container_dynamic .runningTimeTbl .daysListing {
        margin: 0;
        background-color: red;
        list-style: none;
        width: 95%; }
        html #container_dynamic .runningTimeTbl .daysListing li, body #container_dynamic .runningTimeTbl .daysListing li {
          display: inline-block;
          margin: 0 .5%;
          width: 12%;
          background-color: purple;
          font-size: 2vh; }
      html #container_dynamic .runningTimeTbl .daysListingInput, body #container_dynamic .runningTimeTbl .daysListingInput {
        border-top: 5px purple solid;
        margin: 0;
        background-color: red;
        list-style: none;
        width: 95%;
        margin-top: 20px; }
        html #container_dynamic .runningTimeTbl .daysListingInput li, body #container_dynamic .runningTimeTbl .daysListingInput li {
          display: inline-block;
          width: 12%;
          margin: 0 .5%; }
          html #container_dynamic .runningTimeTbl .daysListingInput li input, body #container_dynamic .runningTimeTbl .daysListingInput li input {
            width: 50%; }
      html #container_dynamic .runningTimeTbl .daysListingVals, body #container_dynamic .runningTimeTbl .daysListingVals {
        border-top: 5px purple solid;
        margin: 0;
        background-color: red;
        list-style: none;
        width: 95%;
        margin-top: 20px; }
        html #container_dynamic .runningTimeTbl .daysListingVals .listingVals, body #container_dynamic .runningTimeTbl .daysListingVals .listingVals {
          display: inline-block;
          width: 12%;
          margin: 0 .5%; }
  html footer, body footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5%;
    border-top: rgba(140, 137, 121, 0.7) solid 1vh;
    background-color: rgba(140, 137, 121, 0.5);
    text-align: center;
    padding-top: 1%; }
    html footer span, body footer span {
      padding: 0;
      margin: 0;
      bottom: 2%;
      width: 20%;
      left: 40%;
      right: 40%;
      font-size: 2.25vh;
      color: #f2f2f2; }

/*# sourceMappingURL=main.css.map */
